<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie-edge">
  <title>FliGhtVUE</title>
  <meta name="decription" content=""> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="shortcut icon" href="assets\images\icon.png" type="favicon/ico" />
  <!-- Chart js s-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"
  ></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/css/appstyle.css">
</head>
	<body>
    <div>
		{{{ body }}}
    </div>
    <div class="footer">
    <p> &copy FlightVUE 2018 . All Rights Reserved. </p>
  </div>
	</body>
</html>